.pointer{
	cursor:pointer;
}

a {
	text-decoration: none;
}

textarea {
	border-radius: 5px;
	border: #555 1px solid;
	width: 520px;
	height: 300px;
	margin-bottom: 60px;
	font-size: 140%;
}

label {
	font-size: 16px;
	line-height: 29px;
}